<!DOCTYPE html>
<html>
<head>
  <title>Brokerage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><%= Time.now %></h3>
<hr>
<%= yield %>

</body>
</html>
