<% id = params[:id] %>
<h1>Adding a task for 
<%= Employee.find_by_id(id).name %></h1>
<fieldset><legend>Enter Details</legend>
  <%= form_for :task do |f| %>
  <%= hidden_field_tag "id", id %>
  TASK
  <div class="row"><%= f.text_field :thetask %></div>
  BUDGET
  <div class="row"><%= f.text_field :budget %></div>
  <br><%= f.submit "Add Task"%></div>
  <% end %>	
</fieldset>
