<h1>Editing An Employee</h1>
<fieldset><legend>Enter Details</legend>
  <%= form_for :employee,
      :url => { :action => "update",
                :id => @employee} do |f| %>
  <%= f.error_messages %>
  Name
  <div class="row">
    <%= f.text_field :name,:value=> @emp.name%>
  </div>
  TITLE
  <div class="row">
    <%= f.text_field :title, :value=> @emp.title %>
  </div>
  <div><%= hidden_field_tag "id", @emp.id %></div>
  <br><%= f.submit "Edit and Save" %>
  <% end %>
</fieldset>
